[mysqld]
server-id = {{getv "/self/container/create_index"}}
log-bin = /var/log/mysql/mariadb-bin.index
report_host = {{getv "/self/container/name"}}
wsrep_cluster_name="{{getv "/self/stack/name"}}"

# User supplied configs
{{if exists "/self/service/metadata/mysqld"}}
{{getv "/self/service/metadata/mysqld"}}
{{end}}
