{{if (gt (len (ls "/self/service/metadata/logstash/patterns")) 0)}}{{range ls "/self/service/metadata/logstash/patterns"}}{{getv (printf "/self/service/metadata/logstash/patterns/%s" .)}}
{{end}}{{end}}
