{{if exists "/self/service/metadata/nginx/users/0/username"}}{{range ls "/self/service/metadata/nginx/users"}}{{getv (printf "/self/service/metadata/nginx/users/%s/username" .)}}:{{getv (printf "/self/service/metadata/nginx/users/%s/password" .)}}
{{end}}{{end}}
