tickTime=$ZK_TICK_TIME
initLimit=$ZK_INIT_LIMIT
syncLimit=$ZK_SYNC_LIMIT
dataDir=/data
clientPort=2181
maxClientCnxns=$ZK_MAX_CLIENT_CXNS
autopurge.snapRetainCount=3
autopurge.purgeInterval=1
{{range ls "/self/service/containers"}}{{ $containerName := getv (printf "/self/service/containers/%s" .)}}
server.{{getv (printf "/containers/%s/service_index" $containerName)}}={{getv (printf "/containers/%s/primary_ip" $containerName)}}:2888:3888{{end}}
